
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /partiel-13-mars-2017-marion-lauf/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /partiel-13-mars-2017-marion-lauf/index.php [L]
</IfModule>

# END WordPress